{%extends 'base.html'%}
{%block title%}Lista de Tarefas{% endblock %}
{%block content%}
{% load bootstrap_icons %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
<div class="offset-1 col-10 list-div">
    <h1>Lista de tarefas</h1>
    <a id="add-link" href="newtask/">
    <div class="col-2 add-div">
        <i class="add">{% bs_icon 'plus' %}</i>Adicionar Tarefa
    </div> </a>
    <div class="col-9 search-div">
        <input class="form-control" type="text" id="search" name="search" placeholder="Digite o nome da tarefa para buscar">
        <i class="search-icon">{% bs_icon 'search' %}</i>
    </div>
   

    {% if messages %}
        <ul class="messages">
            {% for message in messages%}
                <li class="message">{{ message }}</li>
            {%endfor%}
        </ul>
    {% endif %}
    <ul class="task-list">
        {% for task in tasks %}
        <li class="task-item">
            <span><a href="/task/{{task.id}}">{{task.title}}</a></span>
            <span><a href="/edit/{{task.id}}"  class="edit">{% bs_icon 'pencil' %}</a></span>
            <span ><a href="/delete/{{task.id}}" class="delete" >{% bs_icon 'trash' %}</a></span>

        </li>
        {% endfor %}
    </ul>

</div>
{% endblock %}